<p id="notice"><%= notice %></p>

<ul id="menu">
	<% Trademanprofilepage.roots.each do |page| %>
	<li><%= link_to page.name, page %></li>
	<% end %>
</ul>

<p>
  <strong>Name:</strong>
  <%= @trademanprofilepage.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @trademanprofilepage.content %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @trademanprofilepage.ancestry %>
</p>

<%= link_to 'Edit', edit_trademanprofilepage_path(@trademanprofilepage) %> |
<%= link_to 'Back', trademanprofilepages_path %>
