<h1>Listing trademanroles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trademanroles.each do |trademanrole| %>
      <tr>
        <td><%= trademanrole.name %></td>
        <td><%= link_to 'Show', trademanrole %></td>
        <td><%= link_to 'Edit', edit_trademanrole_path(trademanrole) %></td>
        <td><%= link_to 'Destroy', trademanrole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trademanrole', new_trademanrole_path %>
