<h2>Job Details</h2>
<h5>Bathrrom Installation</h5>
<div class="field">
  <%= f.label :question, label: 'What service do you require?' %><br>
  <%= f.radio_button :question, ' Installation or replacement', :checked => true %><%= label :question, ' Installation or replacement' %></br>
  <%= f.radio_button :question, ' Repair and maintainance' %><%= label :question, ' Repair and maintainance' %></br>
  <%= f.radio_button :question, ' Something else' %><%= label :question, ' Something else' %></br>
</div></br>
