<h2>Job Details</h2>
<h5>Job_id 981: Bathrrom Installation</h5>
<div class="field">
  <%= f.label :question, label: 'What service do you require?' %><br>
  <!-- <br><%= f.text_field :question %></br> -->
  <%= f.radio_button :question, :checked => true %><%= label :question, ' Installation or replacement' %></br>
  <%= f.radio_button :question, :checked => true %><%= label :question, ' Repair and maintainance' %></br>
  <%= f.radio_button :question, :checked => true %><%= label :question, ' Something else' %></br>
</div></br>
