<%= simple_form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :job_id, {value: @application.job_id} %>
  <%= render "#{@application.current_step}_step", :f => f %>

  <div class="actions">
    <%= f.submit "Back", :name => "previous_button" unless @application.first_step? %>
  </div>

  <div class="actions">
    <%= f.submit "Next" %>
  </div>

  <p><%= link_to "Back to application list", applications_path %></p>

<% end %>
