<%= simple_form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Job Details</h2>
  <div class="field">
    <%= f.label :question, label: 'What is the appropriate status for this job?' %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :question, label: 'Are you the owner or authorised to make property changes?' %><br>
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.association :jobstartdate, label: 'When do you want the job to start?:',  prompt: "-- select timing --"%></br>
  </div>
  <div class="field">
    <%= f.label :postcode, label: 'What is the postcode for the job?' %><br>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :description, label: 'Describe your job:' %><br>
    <%= f.text_area :description %>
  </div></br>

<% end %>