<h2>Client's Deatils</h2>
<p>
  <strong>Name:</strong>
  <%= @application.firstname %> <%= @application.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @application.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p></br>

<h2>Trade & Job</h2>
<strong>Trade: </strong><p><%= @application.trade.name %></p></br>
<strong>Job: </strong><p><%= @application.job %></p></br>


<h2>Client's Job Details</h2>

<p>
	<strong>Survey Answers</strong></br>
	<ul>
		<li><%= @application.question %></li>
		<li><%= @application.questiona %></li>
	</ul>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @application.jobstartdate.name %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @application.location %> | <strong>Latitude:</strong> <%= @application.latitude %> | <strong>Longitude:</strong><%= @application.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@application.latitude}%2C#{@application.longitude}" %>

<p>
  <strong>Budget:</strong>
  <%= @application.budget.name %>
</p>

<p>
  <strong>Job Description:</strong>
  <%= @application.description %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
