<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @application.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @application.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @application.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
