<h1>Listing businesstypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesstypes.each do |businesstype| %>
      <tr>
        <td><%= businesstype.name %></td>
        <td><%= link_to 'Show', businesstype %></td>
        <td><%= link_to 'Edit', edit_businesstype_path(businesstype) %></td>
        <td><%= link_to 'Destroy', businesstype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Businesstype', new_businesstype_path %>
