<h2>The Tradesman "Skills & Trades" preference section</h2>

<%= form_tag editjoblead_trademanprofiles_path, method: :put do %>
  <%= hidden_field_tag "trade[job_ids][]", nil %>
  <% @trades.each do |trade| %>
    <tr>
      <td>
          <strong><%= trade.name %> </strong>
          <ul>
            <% trade.jobs.each do |job| %>
            <li>
              <%= check_box_tag "trade[job_ids][]", job.id, trade.job_ids.include?(job.id)%>
              <%= job.name %>
            </li>
            <% end %>
          </ul>
      </td>
    </tr>
  <% end %>
  <%= submit_tag "Save changes" %>
<% end %>
