<h2>The Tradesman "Skills & Trades" preference section</h2>

<%= form_tag update_multiple_trademanprofiles_path, method: :put do %>
  <!-- <div><%= hidden_field_tag "job_ids[]", nil %></div> -->
  <!-- <div><%= hidden_field_tag "trade[job_ids][]", nil %></div> -->
  <% @trades.each do |trade| %>
    <tr>
      <td>
          <strong><%= trade.name %> </strong>
          <ul>
            <% trade.jobs.each do |job| %>
            <li>
              <%= check_box_tag "trade[job_ids][]", job.id %>
              <%= job.name %>
              <!-- <div><%= check_box_tag "trade[job_ids][]", job.id, trade.job_ids.include?(job.id), id: dom_id(job)%></div> -->
              <!-- <div><%= label_tag dom_id(job), job.name %></div> -->
            </li>
            <% end %>
          </ul>
      </td>
    </tr>
  <% end %>
  <%= submit_tag "Save" %>
<% end %>
