<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @advert.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @advert.content %>
</p>

<p>
  <strong>Website:</strong>
  <%= @advert.website %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
