<div><%= link_to "Looking for a tradesman?", home_index_path %></div>
<div><%= link_to "Tradesman login", new_user_session_path %></div>

<h1>Connect with new customers today</h1>

<%= form_tag applications_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "View job leads", :name => nil %>
  </p>
<% end %>
