<% provide(:title, 'Job alerts' ) %>
<h2>Trademan Profile: Edit Job Lead Setting Page</h2>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class = "container-fluid">
    <div class="login">
    	<% if current_user %>
    		<%= link_to "log out", destroy_user_session_path, method: :delete %>
    		<p>hello <%= current_user.email %></p>
    	<% else %>
    		<%= link_to "login", new_user_session_path %>
    		<!-- <div><%= link_to "register", new_user_registration_path %></div> -->
    	<% end %>
    </div>
</nav>

<div>
	<ul>
		<li><%= link_to 'Profile', trademanprofiles_path %> </li>
		<li><%= link_to 'Job Leads', jobleads_trademanprofiles_path %> </li>
		<li><%= link_to 'Purchased Jobs', purchased_trademanprofiles_path %> </li>
		<li><%= link_to 'Member Benifits', memberBenifits_trademanprofiles_path %> </li>
		<li><%= link_to 'Account', account_trademanprofiles_path %> </li>
	</ul>
</div>

<!-- This should be a form -->
<div>
	<h2>Job Lead Settings</h2>
	<div class="tabs">
	    
	   <div class="tab">
	       <input type="radio" id="tab-1" name="tab-group-1" checked>
	       <label for="tab-1">Area</label>
	       <div class="content">
	       	<%= render '/shared/trademanprofile_area' %>
	       </div> 
	   </div>
	    
	   <div class="tab">
	       <input type="radio" id="tab-2" name="tab-group-1">
	       <label for="tab-2">Skills & Trades</label>
	       <div class="content">
	         <%= render '/shared/trademanprofile_skills' %>
	       </div> 
	   </div>
	    
	    <div class="tab">
	       <input type="radio" id="tab-3" name="tab-group-1">
	       <label for="tab-3">Certifications</label>
	       <div class="content">
	           <%= render '/shared/trademanprofile_certifications' %>
	       </div> 
	   </div>

	    <div class="tab">
	       <input type="radio" id="tab-4" name="tab-group-1">
	       <label for="tab-4">Alert Contact Preferences</label>
	       <div class="content">
	           <%= render '/shared/trademanprofile_alerts' %>
	       </div> 
	   </div>
	    
	</div>
</div>