<% provide(:title, 'Job alerts' ) %>
<h2>Trademan Profile: Job Leads Page</h2>

<ul>
	<li><%= link_to 'Job Leads', jobleads_trademanprofiles_path %> </li>
	<li><%= link_to 'Purchased Jobs', purchased_trademanprofiles_path %> </li>
	<li><%= link_to 'Member Benifits', memberBenifits_trademanprofiles_path %> </li>
	<li><%= link_to 'Account', account_trademanprofiles_path %> </li>
</ul>

<div>
	<h2>Job Leads</h2>
	<div><%= link_to 'Edit Job Lead Settings', editjoblead_trademanprofiles_path %> </div>
	<div class="tabs">
	    
	   <div class="tab">
	       <input type="radio" id="tab-1" name="tab-group-1" checked>
	       <label for="tab-1">List View</label>
	       
	       <div class="content">
	           stuff1 / Notes:
	           <ul>

	           	<li>This is a search page / requires search function & coding</li>
	           	<li>displays jobs in trademan's preference</li>

	           </ul>
	       </div> 
	   </div>
	    
	   <div class="tab">
	       <input type="radio" id="tab-2" name="tab-group-1">
	       <label for="tab-2">Map View</label>
	       
	       <div class="content">
	           stuff2
	       </div> 
	   </div>
	    
	</div>
</div>