<% provide(:title, 'Profile' ) %>
<h2>Trademan Profile: Profile Page</h2>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class = "container-fluid">
    <div class="login">
    	<% if current_user %>
    		<%= link_to "log out", destroy_user_session_path, method: :delete %>
    		<p>hello <%= current_user.fullname %></p>
    	<% else %>
    		<%= link_to "login", new_user_session_path %>
    		<!-- <div><%= link_to "register", new_user_registration_path %></div> -->
    	<% end %>
    </div>
</nav>

<ul>
	<li><%= link_to 'Profile', trademanprofiles_path %> </li>
	<li><%= link_to 'Job Leads', jobleads_trademanprofiles_path %> </li>
	<li><%= link_to 'Purchased Jobs', purchased_trademanprofiles_path %> </li>
	<li><%= link_to 'Member Benifits', memberBenifits_trademanprofiles_path %> </li>
	<li><%= link_to 'Account', account_trademanprofiles_path %> </li>
</ul>

<p>
	<b>First name:</b>
	<%= @user.firstname %>
</p>

<p>
    <b>Last Name:</b>
    <%= @user.firstname %>
</p>

<p>
    <b>Email:</b>
    <%= @user.email %>
</p>