<p id="notice"><%= notice %></p>
<h1>User Image</h1>

<p>
  <strong>Image:</strong>
  <%= image_tag @image.image_url %>
</p>

<p>
  <strong>Image Location:</strong>
  <%= @image.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
