<!DOCTYPE html>
<html>
<head>
  <title>ScrewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="login">
	<% if current_user %>
		<%= link_to "log out", destroy_user_session_path, method: :delete %>
	<% else %>
		<%= link_to "login", new_user_session_path %>
		<!-- <div><%= link_to "register", new_user_registration_path %></div> -->
	<% end %>
</div>
<div><%= link_to "Trademans sign up", new_search_path %></div>


<%= yield %>

</body>
</html>
